<%- include('partials/head.ejs') %>

<body class="bodyCompany">
    <%- include('partials/headerCompany.ejs', {user}) %>
    <main class="mainScrollDown">
        <section class="companyText">
            <h3 class="h3" style="text-align: center;">Dashboard</h3>
        </section>
        <section class="dashboardField">
            <% customer.forEach(elt => { %>
            <div>
                <p>Table: <%= elt.table %></p>
                <p>From: <%= elt.stayFromStr %></p>
                <p>To: <%= elt.stayToStr %></p>
                <p>Name: <%= elt.userName %></p>
                <p>Address: <%= elt.userStreet %>, <%= elt.userCode %> <%= elt.userCity %></p>
                <p>Phone: <%= elt.userPhone %></p>
            </div>
            <% }) %>
        </section>
    </main>
</body>

</html>