<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    dashboard <br>
    <div>
        <a href="/company">dashboard</a>
        <a href="/company/settings">settings</a>
        <a href="/company/faq">Help</a>
        <a href="/auth/logout">Sign out</a>
    </div>
    <% customer.forEach(elt => { %>
    <div>
        Table: <%= elt.table %> <br>
        From: <%= elt.stayFromStr %> <br>
        To: <%= elt.stayToStr %> <br>
        <br>
        Name: <%= elt.userName %> <br>
        Address: <%= elt.userStreet %>, <%= elt.userCode %> <%= elt.userCity %> <br>
        Phone: <%= elt.userPhone %> <br>
    </div><br><br>
    <% }) %>
</body>

</html>
